div.banner{
    width: 100%;
    color: green;
}
div.main{
    width: 100%;
    color:azure;
}
div.left_column{
    width:70%;
    float: left;
    border: 1ch;
}
div.right_column{
    width:30%;
    float: right;
    border:1ch;
}